.buttonPrimary {
    @apply flex gap-3 items-center cursor-pointer rounded-lg border border-blue-600 bg-[#1C86EB] px-6 py-2 text-center text-sm text-white transition hover:bg-[#50AAFF]
}

.buttonSecondary {
    @apply cursor-pointer rounded-lg border border-gray-300 bg-white px-6 py-2 text-center text-sm text-gray-800 transition hover:bg-gray-200
}

.buttonSecondary svg {
    fill: #4B5563;
    stroke: #4B5563;
}

.buttonSecondarySmall {
    @apply cursor-pointer rounded-lg flex gap-3 border border-gray-300 bg-white px-3 py-1 text-center font-semibold items-center text-sm text-gray-600 transition hover:bg-gray-200
}

.buttonPagination {
    @apply cursor-pointer rounded-lg flex gap-3 border border-gray-300 bg-white p-2 text-center font-semibold items-center transition hover:bg-blue-600
}

.buttonPagination:hover svg path {
    stroke: #FFFFFF;
}

.buttonSquare {
    @apply rounded-lg border border-gray-300 p-1 cursor-pointer transition hover:bg-gray-200
}

.formSelectContainer {
    @apply relative mt-4 lg:mr-[2.5rem] lg:mt-0;
}

.formSelect {
    @apply rounded-md lg:pr-12 h-[3.0625rem] bg-white border border-gray-300 text-lg font-medium font-inter appearance-none pl-4;

}

.formOption {
    @apply text-[1.25rem] w-[7.1875rem] font-medium font-inter mb-6 text-[#404040] text-left;
}

.formSelectArrow {
    @apply h-[1.5rem] w-auto fill-[#404040] absolute right-[1rem] top-[0.75rem] pointer-events-none;
}

.formSelectArrowRight {
    @apply h-[1.5rem] w-auto fill-[#404040] absolute left-[8rem] top-[0.75rem] pointer-events-none;
}

.formSelectArrowRightLarge {
    @apply h-[1.5rem] w-auto fill-[#404040] absolute left-[14rem] top-[0.75rem] pointer-events-none;
}