.buttonSecondarySmall {
    @apply cursor-pointer rounded-lg flex gap-3 border border-gray-300 bg-white px-3 py-1 text-center font-semibold items-center text-sm text-gray-600 transition hover:bg-gray-200
}

.buttonPagination {
    @apply cursor-pointer rounded-lg flex gap-3 border border-gray-300 bg-white p-2 text-center font-semibold items-center transition hover:bg-blue-600
}

.buttonPagination:hover svg path {
    stroke: #FFFFFF;
}

.buttonSquare {
    @apply rounded-lg border border-gray-300 p-1 cursor-pointer transition hover:bg-gray-200
}

.select {
    @apply cursor-pointer rounded-lg flex gap-3 border border-gray-300 bg-white px-3 py-1 text-center font-semibold items-center text-lg text-gray-600 transition hover:bg-gray-200
}