.container {
  @apply flex items-center justify-center min-h-screen;
  background: linear-gradient(to top right, #1C86EB, #96CCFF);
}

.card {
  @apply backdrop-blur-lg bg-white/20 border border-white/30 rounded-xl shadow-[0_8px_24px_rgba(0,0,0,0.25)] p-8 w-full max-w-md;
}

.logo {
  @apply block mx-auto mb-6 w-40 h-auto drop-shadow-[0_2px_4px_rgba(0,0,0,0.3)];
}

.form {
  @apply flex flex-col gap-4 text-[#111];
}

.label {
  @apply text-sm font-semibold text-[#222] mt-3;
}

.input {
  @apply w-full border border-white/30 rounded-lg p-2.5 bg-white/70 text-black outline-none transition-all duration-300 ease-in-out placeholder-black/80 focus:bg-white/90 focus:border-blue-500;
}

.recover {
  @apply text-right;
}

.recover a {
  @apply text-sm text-blue-600 underline transition-colors hover:text-blue-900;
}

.button {
  @apply w-1/2 self-center bg-blue-600/80 text-white py-2 px-4 border-none rounded-md font-medium shadow-[0_2px_6px_rgba(0,0,0,0.2)] transition-all duration-300 ease-in-out cursor-pointer hover:bg-blue-700/90 hover:scale-105 hover:shadow-[0_4px_12px_rgba(0,0,0,0.25)]  mt-6;
}


.title {
  @apply text-lg font-medium text-black mb-4 flex flex-col items-center;
}




