.FormContainer {
     @apply flex flex-col gap-[0.625rem];
}

.ContainerHeader {
     @apply border px-[1.3125rem] py-[0.59375rem] border-solid border-[#E5E5E5] rounded-[0.4375rem] shadow-sm grid grid-cols-4 items-center gap-[1rem] mb-1 bg-[#F5F5F5] mt-[1rem];
     grid-template-columns: 1fr 1fr 1fr 3rem;
}

.SimuladosHeader {
     @apply text-[#043666];
}

.SimuladosSubHeader {
     @apply text-[2rem] font-inter mb-4 mt-[1rem] text-[#404040];
}

.ContainerCol {
     @apply w-full text-center font-inter font-medium text-[1.125rem] inline-block;
}

.ContainerColAcoes {
     @apply w-full text-center text-[1.125rem] font-inter font-medium;
}

.ContainerEmpty {
     @apply text-center font-inter font-medium text-[1.25rem] text-[#6B7280] mt-12;
}

.buttonGroup {
     @apply flex justify-center space-x-[1rem];
}

.buttonPrimary {
     @apply bg-[#1C86EB] text-white px-[1.3125rem] py-[0.59375rem] border border-[#D9D9D9] rounded-[0.4375rem] font-medium font-inter border-solid text-[1.25rem];
}

.buttonPrimary:hover {
     @apply bg-[#15538E];
}

.buttonSecondary {
     @apply bg-transparent text-[#404040] px-[1.3125rem] py-[0.59375rem] border border-[#D9D9D9] rounded-[0.4375rem] font-medium font-inter border-2 border-solid text-[1.25rem];
}

.buttonSecondary:hover {
     @apply bg-[#D9D9D9] text-white;
}