.ContainerSimuladoCol {
    @apply w-full text-center font-inter font-medium text-[1.125rem] inline-block capitalize;
}

.ContainerSimuladoColAcoes {
    @apply w-full text-center text-[1.125rem] font-inter font-medium;
}

.ContainerSimuladoRow {
    @apply border px-[1.3125rem] py-[0.59375rem] border-solid border-[#E5E5E5] rounded-[0.4375rem] shadow-sm grid grid-cols-6 items-center gap-[1rem] m-2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3rem;
}


.LinkSimulado {
    @apply flex items-center justify-center rounded border-solid border border-[#D1D5DB] hover:scale-y-110 h-[2rem] w-[2rem] hover:scale-x-110 shadow-md ;
}

.ContainerSimuladoColIcon {
    @apply h-[1.5rem] w-auto fill-[#4B5563] cursor-pointer  ;
}

.LinkSimuladoDisabled{
    @apply flex items-center justify-center rounded border-solid border border-[#E5E5E5] bg-[#F3F4F6] h-[2rem] w-[2rem] cursor-not-allowed shadow-md ;
}

.LinkSimuladoDisabled .ContainerSimuladoColIcon {
    @apply fill-[#9CA3AF] cursor-not-allowed ;
}