.formContainer {
     @apply flex flex-col h-fit;
}

.formLabel {
     @apply block text-sm font-medium sm:mt-4 lg:mt-0;
}

.formSelectContainerBimestre {
     @apply relative w-[11rem] lg:mt-0 lg:mr-4;
}

.formSelectContainerBimestre .formSelect {
     @apply w-[11rem];
}

.formSelectContainer {
     @apply relative w-[9rem] lg:mt-0 lg:mr-4;
}

.formSelectContainer:last-child {
     @apply lg:mr-6;
}

.formSelect {
     @apply rounded-md lg:pr-2 w-[9rem] h-[3.0625rem] bg-white border border-gray-300 text-[1.25rem] font-medium font-inter appearance-none pl-4;

}

.formOption {
     @apply text-[1.25rem] w-[7.1875rem] font-medium font-inter mb-6 text-[#404040] text-left;
}

.formSelectArrow {
     @apply h-[1.5rem] w-auto fill-[#404040] absolute right-[1rem] top-[0.75rem] pointer-events-none;
}