.SimuladosHeader {
     @apply text-[2.125rem] font-bold font-inter;
}

.SimuladosAlert {
     @apply font-medium font-inter text-[1.25rem] mt-2 mb-6;
}

.SimuladosContainer {
     @apply flex justify-between mb-6 lg:flex-row flex-col;
}

.LinkCadastrar {
     @apply flex flex-row items-center justify-center font-medium font-inter text-[1.25rem] text-[#404040] border rounded-md shadow-md w-[20rem] h-[3.0625rem];
}

.LinkCadastrar:hover {
     @apply bg-[#1E3A8A] text-white;
}

.LinkCadastrarIcon {
     @apply fill-[#404040] h-[1.5rem] w-auto mr-[0.625rem];
}

.LinkCadastrar:hover .LinkCadastrarIcon {
     @apply fill-white;
}

.SimuladosFilters {
     @apply flex flex-col lg:flex-row;
}

.formContainer {
     @apply flex flex-col justify-between mb-[2rem] lg:flex-row;
}

.formSelectContainer {
     @apply relative w-[9rem] mt-4 lg:mt-0 lg:mr-4;
}

.formSelectContainer:last-child {
     @apply lg:mr-6;
}

.formSelect {
     @apply rounded-md lg:pr-2 w-[9rem] h-[3.0625rem] bg-white border border-gray-300 text-[1.25rem] font-medium font-inter appearance-none pl-4;

}

.formOption {
     @apply text-[1.25rem] w-[7.1875rem] font-medium font-inter mb-6 text-[#404040] text-left;
}

.formSelectArrow {
     @apply h-[1.5rem] w-auto fill-[#404040] absolute right-[1rem] top-[0.75rem] pointer-events-none;
}

