.formContainer {
    @apply flex flex-col justify-between lg:flex-row lg:items-center;
}

.formSelectContainer {
    @apply relative w-[10rem]  ;
}

.formSelect {
    @apply rounded-md lg:pr-2  w-[10rem] h-[3.0625rem] bg-white border border-gray-300 text-[1.25rem] font-medium font-inter appearance-none pl-4;
}

.formContainerOption {
  @apply flex flex-col h-fit;
}

.formLabel {
  @apply block text-sm font-medium sm:mt-4 lg:mt-0;
}

.formOption {
    @apply text-[1.25rem]  w-[7.1875rem] font-medium font-inter mb-6 text-[#404040] text-left;
}

.formSelectArrow {
    @apply h-[1.5rem] w-auto fill-[#404040] absolute right-[1rem] top-[0.75rem] pointer-events-none;
}

.LinkCadastrar {
    @apply flex flex-row items-center justify-center font-medium font-inter text-[1.25rem] text-[#404040] border rounded-md shadow-md w-[18.1875rem] h-[3.0625rem] mt-[1.3rem];
}

.LinkCadastrar:hover {
    @apply bg-[#1E3A8A] text-white;
}

.LinkCadastrarIcon {
    @apply fill-[#404040] h-[1.5rem] w-auto mr-[0.625rem];
}

.LinkCadastrar:hover .LinkCadastrarIcon {
    @apply fill-white;
}

