.ContainerDisciplinasCol {
    @apply w-full text-center font-inter font-medium text-[1.125rem] inline-block;
}

.ContainerDisciplinasColAcoes {
    @apply w-full text-center text-[1.125rem] font-inter font-medium;
}

.ContainerDisciplinasRow {
    @apply border px-[1.3125rem] py-[0.59375rem] border-solid border-[#E5E5E5] rounded-[0.4375rem] shadow-sm grid grid-cols-6 items-center gap-[1rem] m-2;
    grid-template-columns: 1fr 2fr 1fr 1fr 1.5rem;
}

.DisciplinasInput {
    @apply w-6/12 h-[2.5rem] bg-white border border-gray-300 rounded-md px-2 text-[1.125rem] font-medium font-inter text-center;
}

.buttonDeleteDisciplina {
    @apply flex items-center justify-end;
}

.ContainerDisciplinasColIcon {
    @apply fill-[#B50909] h-[1.5rem] w-auto cursor-pointer float-right hover:scale-125 transition-transform duration-200;
}