.formContainer{
    @apply flex justify-between  items-center relative mb-[2.625rem];
}
.formSelect{
    @apply ml-2 rounded-md pr-2 mr-[2.5rem] w-[7.1875rem] h-[3.0625rem] bg-white border border-gray-300 text-[1.25rem] font-medium font-inter appearance-none pl-4;
    
}

.formOption{
    @apply text-[1.25rem] font-medium font-inter mb-6 text-[#404040] mr-[3rem] text-left;
}

.formSelectArrow{
    @apply h-[1.5rem] w-auto fill-[#404040] absolute right-[3rem] top-[0.75rem] pointer-events-none;
}

.LinkCadastrar{
    @apply flex flex-row items-center justify-center font-medium font-inter text-[1.25rem] text-[#404040] border rounded-md shadow-md w-[18.1875rem] h-[3.0625rem];
}

.LinkCadastrar:hover{
    @apply bg-[#1E3A8A] text-white;
}

.LinkCadastrarIcon{
    @apply fill-[#404040] h-[1.5rem] w-auto mr-[0.625rem];
}

.LinkCadastrar:hover .LinkCadastrarIcon{
    @apply fill-white;
}