.TurmasHeader {
     @apply text-[2.125rem] font-bold font-inter;
}

.TurmasAlert {
     @apply text-gray-600 text-lg font-inter;
}

.TurmasList {
     @apply flex justify-start align-middle sm:flex-col lg:space-x-8 lg:flex-row;
}

.TurmaItemSkeleton {
    @apply w-[21.87rem] h-[12.25rem] ;
}